.navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-responsive-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='./') dedmons
        .nav-collapse.navbar-responsive-collapse.collapse
          ul.nav
            -var klass = ( typeof(home) === 'undefined' ? '':'active')
            li(class=klass)
              a(href='./index.html') Home
            -var klass = ''
            -if(typeof(asn0) !== 'undefined') klass='active';
            -if(typeof(asn1) !== 'undefined') klass='active';
            li.dropdown(class=klass)
              a.dropdown-toggle(href='#', data-toggle='dropdown') Assignments
                b.caret
              ul.dropdown-menu
                -var klass = ( typeof(asn0) === 'undefined' ? '':'active')
                li(class=klass): a(href='./assignment0.html') Assignment 0
                -var klass = ( typeof(asn1) === 'undefined' ? '':'active')
                //li(class=klass): a.pna(href='./assignment1.html') Assignment 1
                -var klass = ( typeof(asn2) === 'undefined' ? '':'active')
                //li(class=klass): a.pna(href='#') Assignment 2
            -var klass = ( typeof(about) === 'undefined' ? '':'active')
            li(class=klass)
              a.pna(href='#') About
            -var klass = ( typeof(contact) === 'undefined' ? '':'active')
            li(class=klass)
              a.pna(href='#') Contact
