extends layout

block content
  home = 1
  include navbar
  include alerts
  .container-fluid
    .row-fluid
      .span10.offset1
        .hero-unit
          h1 Welcome
          p This site is for Clemson's CPSC X81 Android Development Course
    .row-fluid
      .span2.offset1
        .well(data-spy="affix", data-offset-top="200")
          ul.nav.nav-list
            li: a(href='#ref') Reference Links
      .span8
        #ref.in-page-link
        h3 Reference Links
        h4= "Filter out unexpectedvalue in logcat - "
          a(href="http://stackoverflow.com/questions/13416142/unexpected-value-from-nativegetenabledtags-0",target='_blank') Link
        p
          |Put this ^(?!.*(nativeGetEnabledTags)).*$ in the filter field
        h4= "Google Mobile Courses - "
          a(href='http://goo.gl/F4HR2', target='_blank') Link
        p
          |Google provides a set of courses, tutorials, and videos on android
          |development. Each resource has a brief description that identifies
          |the topics covered in the resource.
        h4= "Stanford Android Course - "
          a(href='http://goo.gl/1Pj9o', target='_blank') Link
        p
          |This course goes over the basics of Android development as well as
          |some more advanced topics. Is all text but is still very informative
          |and has great examples.
        h4= "How to use Android Graphical Layout Tool - "
          a(href='http://goo.gl/dpZu4', target='_blank') Link
        p
          |This page goes into detail about the graphical tool used to
          |build layouts in eclipse. Gives examples for creating, editing,
          |and modifying the layout with both the WYSIWYG view and the XML view.
        h4= "StackOverflow: Android Tag - "
          a(href='http://goo.gl/g2UoC', target='_blank') Link
        p
          |StackOverflow is an excellent resource for finding answers to any question
          |you have about development. This link provides the Android tag and shows
          |recent questions posted about android.
